.actividad-crear {
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    justify-content: space-around;
    align-items: start;
  }
  